# Dependencies
node_modules/
package-lock.json

# Environment variables
backend/.env
frontend/.env
.env

# Build files
frontend/dist
frontend/build

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/